<nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/profiles">Profiles</a></li>
      <li><a routerLink="/courses">Courses</a></li>
      <li><a routerLink="/registration">Register</a></li>
      <li><a routerLink="/login">Login</a></li>

    </ul>
  </nav>


  <div class="container">
    <h2>Available Courses</h2>
    <ul>
      <li class="highlighted">
        <h3>Course 1 (Highlighted)</h3>
        <p>Description of Course 1.</p>
      </li>
      <li>
        <h3>Course 2</h3>
        <p>Description of Course 2.</p>
      </li>
      <li class="highlighted">
        <h3>Course 3 (Highlighted)</h3>
        <p>Description of Course 3.</p>
      </li>
      <li>
        <h3>Course 4</h3>
        <p>Description of Course 4.</p>
      </li>
      <li>
        <h3>Course 5</h3>
        <p>Description of Course 5.</p>
      </li>
      <li>
        <h3>Course 6</h3>
        <p>Description of Course 6.</p>
      </li>
      <li>
        <h3>Course 7</h3>
        <p>Description of Course 7.</p>
      </li>
      <li class="highlighted">
        <h3>Course 8 (Highlighted)</h3>
        <p>Description of Course 8.</p>
      </li>
      <li>
        <h3>Course 9</h3>
        <p>Description of Course 9.</p>
      </li>
      <li>
        <h3>Course 10</h3>
        <p>Description of Course 10.</p>
      </li>
    </ul>
  </div>