<nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/profiles">Profiles</a></li>
      <li><a routerLink="/courses">Courses</a></li>
      <li><a routerLink="/registration">Register</a></li>
      <li><a routerLink="/login">Login</a></li>

    </ul>
  </nav>

  <h1>Student Profiles</h1>

  <div class="container">
    <div class="profile">
      <div class="profile-img">
        <img src="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-student-glyph-black-icon-png-image_691145.jpg" alt="Student 1">
      </div>
      <div class="profile-info">
        <h2>John Doe</h2>
        <p>Grade: 10</p>
        <p>Age: 16</p>
        <p>Favorite Subject: Mathematics</p>
      </div>
    </div>
  
    <div class="profile">
      <div class="profile-img">
        <img src="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-student-glyph-black-icon-png-image_691145.jpg" alt="Student 2">
      </div>
      <div class="profile-info">
        <h2>Jane Smith</h2>
        <p>Grade: 9</p>
        <p>Age: 15</p>
        <p>Favorite Subject: Science</p>
      </div>
    </div>
  
    <div class="profile">
      <div class="profile-img">
        <img src="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-student-glyph-black-icon-png-image_691145.jpg" alt="Student 3">
      </div>
      <div class="profile-info">
        <h2>Michael Johnson</h2>
        <p>Grade: 11</p>
        <p>Age: 17</p>
        <p>Favorite Subject: History</p>
      </div>
    </div>
  
    <div class="profile">
      <div class="profile-img">
        <img src="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-student-glyph-black-icon-png-image_691145.jpg" alt="Student 4">
      </div>
      <div class="profile-info">
        <h2>Sarah Lee</h2>
        <p>Grade: 10</p>
        <p>Age: 16</p>
        <p>Favorite Subject: English</p>
      </div>
    </div>
  
    <div class="profile">
      <div class="profile-img">
        <img src="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-student-glyph-black-icon-png-image_691145.jpg" alt="Student 5">
      </div>
      <div class="profile-info">
        <h2>David Brown</h2>
        <p>Grade: 12</p>
        <p>Age: 18</p>
        <p>Favorite Subject: Computer Science</p>
      </div>
    </div>
  </div>