<nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/profiles">Profiles</a></li>
      <li><a routerLink="/courses">Courses</a></li>
      <li><a routerLink="/registration">Register</a></li>
      <li><a routerLink="/login">Login</a></li>

    </ul>
  </nav>

  
  <div class="home-container">
    <div class="container">
      <div class="image-container">
        <img src="https://media.licdn.com/dms/image/D5612AQFuNG7Ua216tQ/article-cover_image-shrink_720_1280/0/1693278519639?e=1717027200&v=beta&t=NgRdhWLBq2YxS7wLqlOH9iLST58QSJtplN-es419wuQ" alt="Student Grade Management System">
      </div>
      <h1>Welcome to the Student Grade Management System</h1>
      <p>This system helps you efficiently manage student grades and academic performance.</p>
      <div class="info">
        <h2>Key Features:</h2>
        <ul>
          <li>Track student grades and academic progress.</li>
          <li>Generate comprehensive reports for students and faculty.</li>
          <li>Customize grading criteria and evaluation methods.</li>
          <li>Communicate with students and parents regarding performance.</li>
        </ul>
      </div>
    </div>
  </div>
  